/* Configurações gerais do tema */
.widget {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px; /* Borda arredondada para dar uma aparência mais suave */
}

/* Estilos para o seletor de temas */
.theme-selector {
  display: flex;
  justify-content: space-between;
  width: 60px;  /* Ajuste conforme necessário */
}

.theme-button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.theme-button .far {
  font-size: 20px;  /* Ajuste o tamanho do ícone conforme necessário */
  color: #000;  /* Ajuste a cor do ícone conforme necessário */
}

.theme-button.light.active .far {
  color: #ff0;  /* Ajuste a cor do ícone conforme necessário */
}

.theme-button.dark.active .far {
  color: #fff;  /* Ajuste a cor do ícone conforme necessário */
}

/* Estilos para o switcher de temas */
.theme-switcher-label {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.theme-switcher-label i {
position: absolute;
top: 50%;
transform:  translateY(-50%);
transition: all 0.3s;
}

.theme-switcher-label .fas.fa-sun {
right: 5px;
}

.theme-switcher-label .fas.fa-moon {
left: 5px;
opacity: 0;
}

#theme-switcher:checked + .theme-switcher-label .fas.fa-sun {
opacity: 0;
}

#theme-switcher:checked + .theme-switcher-label .fas.fa-moon {
opacity: 1;
}

.font-change-button,
.font-change-button:hover,
.font-change-button:focus,
.font-change-button:active,
.font-change-button:not(:disabled):not(.disabled):active:focus {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  color: var(--text-color); /* Certifique-se de que o ícone ainda seja visível */
}

.card-custom {
  min-height: 400px;
}

.article-custom {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.carousel-item {
  margin: 0 2px;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item {
  margin: 0 2px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.carousel-inner {
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
}
/*.pagination a, .pagination span {*/
/*  border-radius: 50%;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  color: #fff;*/
/*  background-color: #007bff;*/
/*}*/
/*.pagination a:hover {*/
/*  background-color: #0056b3;*/
/*}*/
/*.pagination .current {*/
/*  background-color: #6c757d;*/
/*}*/

/*.pagination span.current {*/
/*  !* Aqui você pode adicionar os estilos para fazer o número da página corrente parecer o mesmo que os outros botões de paginação. *!*/
/*  background-color: #007bff; !* A cor de fundo padrão dos botões no Bootstrap. *!*/
/*  color: #fff; !* A cor do texto padrão dos botões no Bootstrap. *!*/
/*  border-radius: .25rem; !* O raio de borda padrão dos botões no Bootstrap. *!*/
/*  padding: .5rem 1rem; !* O padding padrão dos botões no Bootstrap. *!*/
/*  margin: 0 .5rem; !* Adicione margem para separar os botões. *!*/
/*  cursor: default; !* O cursor não deve se tornar um ponteiro, pois o número da página corrente não é um link. *!*/
/*}*/

/*.pagination span.current span.btn{*/
/*  cursor: default;*/
/*}*/



